/*-------------------------
Global styles
-------------------------*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /*
    *   This defines what 1rem is
    *    1rem = 10px 
     */
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: getFont("primary");
    color: getColor("black");
}


table {
    border-color: getColor("secondary");

    &.shop_table {
        border-color: getColor("secondary");
    }

    a {
        color: getColor("primary");
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
    
    td {
        border-color: getColor("secondary");
        font-size: getFontSize("sm");
    }

    thead {
        background-color: getColor("secondary");
        color: getColor("white");
    }

    th {
        font-weight: getFontWeight("semi-bold");
        padding: 1rem;
        font-size: getFontSize("sm");
    }

    .amount {
        font-weight: getFontWeight("bold");
    }
}


select {
    padding: 0 3rem 0 1rem;
    line-height: 1;
    height: 4rem;
    appearance: none;
    border-radius: 6px;
    background: url('../svg/arrow-down.svg') no-repeat 96% 50%;
    background-size: 7% auto;
    border-color: getColor("primary");
    color: getColor("primary");

    &:focus {
        outline: none;
        border-width: 2px;
    }
}