/*-------------------------
Woocommerce override styles
-------------------------*/
// Grid system
.woocommerce {
    .col2-set {
        .col-1,
        .col-2 {
            flex: 0 0 50%;
            max-width: 50%;

            @media screen and (max-width: 767px) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}

// Buttons
.woocommerce a.button,
.woocommerce button.button.alt {
    font-size: getFontSize("sm");
    padding: 1.2rem 2rem;
    text-align: center;
    background-color: getColor("primary");
    color: getColor("white");
    font-weight: getFontWeight("regular");
    border-radius: 25px;
    width: auto;
}

.woocommerce {
    ul.products li.product {
        .woocommerce-loop-product__title {
            font-family: getFont("primary");
            font-size: getFontSize("def");
            line-height: 1;
        }
    }
}
