/*-------------------------
Woocommerce override styles
-------------------------*/
// Grid system
.woocommerce {
    .col2-set {
        .col-1,
        .col-2 {
            flex: 0 0 50%;
            max-width: 50%;

            @media screen and (max-width: 767px) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}

// Buttons
.woocommerce a.button,
.woocommerce button.button.alt {
    font-size: getFontSize("med");
    padding: 1.2rem 2rem;
    text-align: center;
    background: getColor("tertiary");
    color: getColor("primary");
    font-weight: getFontWeight("bold");
    border-radius: 8px;
    width: auto;
    transition: all .2s ease-in-out;

    &:hover,
    &:focus {
        background: getColor("primary");
        color: getColor("tertiary");
    }
}

.woocommerce a.button.checkout,
.woocommerce button.button {
    background: getColor("secondary");
    font-size: getFontSize("med");
    font-weight: getFontWeight("bold");
    color: getColor("white");
    transition: all .2s ease-in-out;

    &:hover,
    &:focus {
        background: getColor("white");
        color: getColor("secondary");
    }
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
    color: getColor("light-grey");
    background: rgba(getColor("secondary"), .5);
}


// Woocommerce products
.woocommerce {
    ul.products li.product {
        text-align: center;

        // Product title
        .woocommerce-loop-product__title {
            font-size: getFontSize("l");
            color: getColor("black");
            line-height: 1;
        }

        p {
            font-size: getFontSize("def");
            color: getColor("tertiary");
        }

        // Product price
        .price {
            font-size: 2.2rem;
            color: getColor("black");
            font-weight: getFontWeight("bold");

            del {
                font-size: getFontSize('sm');
                margin-right: .5rem;
            }
        }

        // View cart link
        a.added_to_cart {
            &.wc-forward {
                margin-left: 1rem;
                font-size: getFontSize("sm");
                color: getColor("secondary");
                text-decoration: underline;
            }
        }
    }
}

.woocommerce {
    // On sale badge
    span.onsale {
        background-color: getColor("secondary");
        min-height: auto;
        min-width: auto;
        padding: 0.5rem 0.7rem;
        font-weight: getFontWeight("medium");
        line-height: 1;
        border-radius: 5px;
        font-size: getFontSize('xs');
        letter-spacing: calcLetterSpacing(75);
    }

    // Product description
    .product {
        p {
            font-size: getFontSize('xs');
            color: getColor("secondary");
        }
    }
}


// Woocommerce form elements
.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
    width: auto;
}

// Woocommerce UI
.woocommerce .widget_price_filter {
    .ui-slider {
        .ui-slider-handle {
            width: 1.5em;
            height: 1.5em;
            top: -0.5em;
            background-color: getColor("secondary");
        }
    
        .ui-slider-range{
            background-color: getColor("sunset");
        }
    }

    .price_slider_wrapper .ui-widget-content {
        background-color: getColor("primary");
    }

    .price_slider_amount {
        margin: 3rem 0 0;
        font-size: getFontSize("sm");
        line-height: 2;

        .button {
            font-size: inherit;
        }

        .price_label {
            font-size: getFontSize("def");
        }
    }
}


.widget-wrapper .select2-container--default .select2-selection--single {
    border-radius: 6px;
    font-size: getFontSize("def");
    color: getColor("primary");

    .select2-selection__rendered,
    .select2-selection__placeholder {
        color: inherit;
    }

    .select2-selection__arrow {
        b {
            width: inherit;
            height: inherit;
            border: none;
            margin: 0;
            left: 0;
            top: 0;
            background: url('../svg/arrow-down.svg') no-repeat 25% 50%;
            background-size: 55% auto;
        }
    }
}

.select2-results__option {
    font-size: getFontSize("def");
}

// Woocommerce breadcrumbs
.woocommerce .woocommerce-breadcrumb {
    font-size: getFontSize("sm");

    a {
        color: getColor("secondary");
    }
}

// Woocommerce page title
.woocommerce-products-header {
    margin: 2rem 0 3rem;
    .page-title {
        font-family: getFont("secondary");
        color: getColor("primary");
        font-size: getFontSize("xxl");
    }
}

// Woocommerce result count
// Woocommerce ordering
.woocommerce .woocommerce-result-count,
.woocommerce .woocommerce-ordering {
    font-size: getFontSize("def");
    margin: 0 0 3rem;
    line-height: 1;
}

// Woocommerce pagination
.woocommerce nav.woocommerce-pagination {
    line-height: 1;
    margin: 1rem 0;

    ul {
        border-color: getColor("tertiary");
        li {
            border-color: inherit;
            color: getColor("primary");
            span,
            a {
                font-size: getFontSize("sm");
            }

            span.current {
                background: getColor("grey");
            }
        }
    }
}