/*-------------------------
Woocommerce override styles
-------------------------*/
// Grid system
.woocommerce {
    .col2-set {
        .col-1,
        .col-2 {
            flex: 0 0 50%;
            max-width: 50%;

            @media screen and (max-width: 767px) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}

// Buttons
.woocommerce a.button,
.woocommerce button.button.alt {
    font-size: getFontSize("sm");
    padding: 1.2rem 2rem;
    text-align: center;
    background: getColor("primary");
    background: linear-gradient(45deg, rgba(getColor("primary"),1) 0%, rgba(getColor("sky_blue"),1) 49%, rgba(getColor("teal"),1) 100%);
    box-shadow: 0px 0px 4px 0 rgba(getColor("primary"), .8);
    color: getColor("white");
    font-weight: getFontWeight("semi-bold");
    border-radius: 5px;
    width: auto;
    transform: translate3d(0, 0, 0);
    transition: all .2s ease-in-out;

    &:hover,
    &:focus {
        background: getColor("primary");
        background: linear-gradient(45deg, rgba(getColor("primary"),1) 0%, rgba(getColor("sky_blue"),1) 49%, rgba(getColor("teal"),1) 100%);
        color: getColor("white");
        box-shadow: 3px 3px 8px 0 rgba(getColor("primary"), .8);
        transform: translate3d(0, -2px, 0);
    }
}

.woocommerce a.button.checkout,
.woocommerce button.button {
    background: getColor("secondary");
    font-size: getFontSize("sm");
    color: getColor("white");
    box-shadow: 0px 0px 4px 0 rgba(getColor("secondary"), .5);
    transform: translate3d(0, 0, 0);
    transition: all .2s ease-in-out;

    &:hover,
    &:focus {
        background: getColor("secondary");
        color: getColor("white");
        box-shadow: 3px 3px 8px 0 rgba(getColor("secondary"), .5);
        transform: translate3d(0, -2px, 0);
    }
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
    color: getColor("light-grey");
    background: rgba(getColor("secondary"), .5);
}


// Woocommerce products
.woocommerce {
    ul.products li.product {
        text-align: center;

        // Product title
        .woocommerce-loop-product__title {
            font-family: getFont("primary");
            font-size: getFontSize("def");
            color: getColor("secondary");
            line-height: 1;
        }

        // Product price
        .price {
            font-size: getFontSize('med');
            color: getColor("secondary");
            font-weight: getFontWeight("bold");

            del {
                font-size: getFontSize('sm');
                margin-right: .5rem;
            }
        }

        // View cart link
        a.added_to_cart {
            &.wc-forward {
                margin-left: 1rem;
                font-size: getFontSize("sm");
                color: getColor("secondary");
                text-decoration: underline;
            }
        }
    }
}

.woocommerce {
    // On sale badge
    span.onsale {
        background-color: getColor("tertiary");
        min-height: auto;
        min-width: auto;
        padding: 0.5rem 0.7rem;
        font-weight: getFontWeight("medium");
        line-height: 1;
        border-radius: 5px;
        font-size: getFontSize('xs');
        letter-spacing: calcLetterSpacing(75);
    }

    // Product description
    .product {
        p {
            font-size: getFontSize('xs');
            color: getColor("secondary");
        }
    }
}


// Woocommerce form elements
.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
    width: auto;
}


