$olive:             #686230;
$terracotta:        #D98560;
$sage:              #A2A183;
$sunset:            #DEAD8D;

$colors: (
    "primary":             $olive,
    "secondary":           $terracotta,
    "tertiary":            $sage,

    "sunset":              $sunset,

    "black":             #000000,
    "white":             #ffffff,
    "grey":              #e0e0e0,
    "light-grey":        #f4f4f4,
);