/*-------------------------
Google Fonts
-------------------------*/
$josefinFont:       'Josefin Sans', sans-serif;
$montserratFont:    'Montserrat', sans-serif;
$pacificoFont:      'Pacifico', cursive;
$itim: 'Itim', cursive;
$rubik: 'Rubik', sans-serif;
$pm: 'Permanent Marker', cursive;
$anton: 'Anton', sans-serif;
$paytone: 'Paytone One', sans-serif;
$cpo: 'Chau Philomene One', sans-serif;
$jua: 'Jua', sans-serif;
$wendy: 'Wendy One', sans-serif;
$notable: 'Notable', sans-serif;
$stylish: 'Stylish', sans-serif;
$didact: 'Didact Gothic', sans-serif;

/*-------------------------
Fonts family
-------------------------*/

$fonts: (
    "primary":      $montserratFont,
    "secondary":    $pacificoFont,
    "tertiary":     $josefinFont,
    "itim":         $itim,
    "rubik":        $rubik,
    "pm":           $pm,
    "anton":           $anton,
    "paytone":           $paytone,
    "cpo":           $cpo,
    "jua":           $jua,
    "wendy":           $wendy,
    "notable":           $notable,
    "stylish":           $stylish,
    "didact":           $didact,
);

/*-------------------------
Fonts size
-------------------------*/
$fontSizes: (
    /**
    *   Pre-defined font sizes
    *   1rem = 10px
    *   xs - extra small (12px)
    *   sm - small (14px)
    *   def - default (16px)
    *   med - medium (18px)
    *   l - large (20px)
    *   xl - extra large (30px)
    *   xxl - extra extra large (4px)
    */
    "xs":   1.2rem,
    "sm":   1.4rem,
    "def":  1.6rem,
    "med":  1.8rem,
    "l":    2rem,
    "xl":   3rem,
    "xxl":  4rem
);

/*-------------------------
Fonts weight
-------------------------*/
$fontWeight: (
    "thin":         100,
    "light":        300,
    "regular":      400,
    "medium":       500,
    "semi-bold":    600,
    "bold":         700,
    "extra-bold":   800,
    "black":        900
);