body.woocommerce-cart {

    .post-head {
        h1 {
            font-family: getFont("secondary");
            font-size: getFontSize("xl");
            margin: 2rem 0;
            color: getColor("tertiary");
        }
    }

    table.shop_table,
    table.cart {
        border-color: rgba(getColor("secondary"), .2);

        td,
        th {
            border-color: rgba(getColor("secondary"), .2);
            font-size: getFontSize("def");
        }
    }


    table.cart {

        a {
            color: getColor("primary");
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: underline;
            }

            &.remove {
                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
        }

        thead {
            background-color: getColor("secondary");
            color: getColor("white");
        }

        th {
            font-weight: getFontWeight("semi-bold");
            padding: 1rem;
            font-size: getFontSize("l");
        }

        .amount {
            font-weight: getFontWeight("bold");
        }

        td.actions {
            .coupon {
                .input-text {
                    font-size: getFontSize("med");
                    height: 40px;
                    line-height: 40px;
                    border-radius: 3px;
                    padding: 6px 10px 5px;
                }
            }
        }
    }


    .coupon {
        button {
            background-color: getColor("secondary");
        }
    }

    .cart-collaterals .cart_totals table.shop_table {
        th,
        td {
            font-size: getFontSize("med");
            border-color: rgba(getColor("secondary"), .2);
        }

        th {
            font-weight: getFontWeight("semi-bold");
        }

        .order-total {
            th,
            td {
                font-size: getFontSize("xl");
            }
        }
    }

    .cart_totals {
        h2 {
            font-size: getFontSize("xl");
            font-weight: getFontWeight("bold");
            color: getColor("primary");
        }
    }

    .wc-proceed-to-checkout {
        text-align: right;

        a.checkout-button {
            display: inline-block;
            font-size: getFontSize("med");
            padding: 0.7em 1em;
            border-radius: 3px;
            background-color: getColor("tertiary");
            color: getColor("primary");

            &:hover,
            &:focus {
                background-color: getColor("primary");
                color: getColor("tertiary");
            }
        }
    }

}
