
.woocommerce {
    .checkout {
        h3 {
            font-family: getFont("secondary");
            font-size: getFontSize("xl");
            margin: 2rem 0;
            color: getColor("tertiary");
        }

        .woocommerce-billing-fields__field-wrapper,
        .woocommerce-additional-fields__field-wrapper {
            label {
                font-size: getFontSize("sm");
                line-height: 1;
            }

            span.woocommerce-input-wrapper {
                width: 100%;

                input.input-text,
                textarea {
                    font-size: getFontSize("sm");
                    padding: 0.5em;
                    border: none;
                    border: 1px solid getColor("primary");
                    border-radius: 3px;
                    color: getColor("primary");
                }
            }

            .select2-container {
                .select2-selection--single {
                    height: 31px;
                    border-color: getColor("primary");
                    border-radius: 3px;

                    .select2-selection__rendered {
                        color: getColor("primary");
                        line-height: 31px;
                        font-size: getFontSize("sm");
                    }
                }
            }
        }

        #order_review_heading {
            padding: 0 2rem;
        }

        .woocommerce-checkout-review-order {
            padding: 0 2rem;

            table.shop_table {
                border-collapse: collapse;
                border-color: rgba(getColor("secondary"), .2);

                td,
                th {
                    border-color: rgba(getColor("secondary"), .2);
                    font-size: getFontSize("sm");
                }

                th {
                    font-weight: getFontWeight("semi-bold");
                    padding: 1rem;
                    font-size: getFontSize("med");
                }

                .cart-subtotal {
                    td,
                    th {
                        font-size: getFontSize("def");
                    }
                }

                .order-total {
                    td,
                    th {
                        font-size: getFontSize("l");
                    }
                }
            }

            .woocommerce-checkout-payment {
                .wc_payment_method {
                    label {
                        font-size: getFontSize("def");
                    }

                }
            }
            
            #payment {
                background-color: transparent;

                .payment_box  {
                    font-size: getFontSize("xs");
                }
                
                #place_order {
                    float: none;
                }
            }

            .form-row.place-order {
                display: block;

            }
        }
    }
}