.section-title {
    font-family: getFont("secondary");
    font-size: 3.6rem;
    font-weight: getFontWeight('bold');
    margin: 3rem 0 5rem;
    text-align: center;
    color: getColor('secondary');
}

.sec-box {
    margin: 6rem 0;
}

.shop-content {
    padding: 3rem 0 3rem;
}

.content-area {
    padding: 0 1rem;

    @include media-breakpoint-up(md) {
        padding: 0;
    }
}

// Product categories section
.product-categories {

    .cat-name {
        background-color: rgba(getColor("white"), .9);
        color: getColor("primary");
        font-size: getFontSize("xl");
        padding: 0.5rem 1.7rem;
        display: inline-block;
        border-radius: 4px;
        transition: all .5s ease-in-out;
    }
    
    .product-categories-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    
    .product-category {
        background-color: getColor("primary");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        width: 100%;
        height: 130px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;

        @include media-breakpoint-up(md) {
            width: 33.33%;
            height: 250px;
        }

        a {
            display: block;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .5s ease-in-out;
        }

        &:hover,
        &:focus {
           & > img {
            transform: scale(1.2);
           }

           .cat-name {
                background-color: rgba(getColor("white"), .5);
           }
        }
    }

    .product-category-detail {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
    }
}