button {
    &:focus {
        outline: none;
    }
}

.button,
.btn {
    font-family: getFont("rubik");
    font-weight: getFontWeight("regular");
    //border-radius: 25px;
    line-height: 1;
}

.btn {
    
    &--reg {
        font-size: getFontSize();
        padding: 1.6rem 2rem;
        min-width: 192px;
    }

    &--small {
        font-size: getFontSize("xs");
        min-width: 150px;
        padding: 0.9rem 1.5rem;
    }
}