button {
    &:focus {
        outline: none;
    }
}

.button,
.btn {
    font-family: getFont("primary");
    font-weight: getFontWeight("medium");
    border-radius: 5px;
    line-height: 1;
    transform: translateY(0);
    transition: all .2s ease-in-out;

    &:hover,
    &:focus {
        box-shadow: 4px 3px 8px 0 rgba(getColor("secondary"), .4);
        transform: translateY(-5px);
    }
}

.btn {
    
    &--reg {
        font-size: getFontSize();
        padding: 1.6rem 2rem;
        min-width: 192px;
    }

    &--small {
        font-size: getFontSize("xs");
        min-width: 150px;
        padding: 0.9rem 1.5rem;
    }
}