button {
    &:focus {
        outline: none;
    }
}

.button,
.btn {
    font-family: getFont("primary");
    font-weight: getFontWeight("medium");
    border-radius: 8px;
    line-height: 1;
    color: getColor("light-grey");

    &:hover,
    &:focus {
        //box-shadow: 4px 3px 8px 0 rgba(getColor("secondary"), .4);
    }
}

.btn {
    
    &--reg {
        font-size: getFontSize("med");
        font-weight: getFontWeight("bold");
        padding: 1.3rem 2rem;
        min-width: 170px;
    }

    &--small {
        font-size: getFontSize("xs");
        min-width: 150px;
        padding: 0.9rem 1.5rem;
    }
}