.hamburger-btn {
    border-radius: 0;

    &.collapsed {
        .hamburger-toggler-icon {
            .bar {
                &:first-of-type {
                    width: 45%;
                    transform: translate(0, 0) rotate(0);
                }

                &:nth-of-type(2) {
                    width: 80%;
                    transform: translate(0, 0) rotate(0);
                    opacity: 1;
                }

                &:last-of-type {
                    transform: translate(0, 0) rotate(0);
                }
            }
        }
    }
}

.hamburger-toggler-icon {
    width: 3rem;
    height: 2rem;
    position: relative;
    display: block;

    .bar {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: getColor("black");
        right: 0;
        border-radius: 15px;
        transform-origin: center;
        transform: translate(0, 0) rotate(0);
        transition: all .3s ease-in-out;

        &:first-of-type {
            top: 0;
            transform: translate(0, 9px) rotate(-45deg);
            //width: 45%;
        }

        &:nth-of-type(2) {
            top: 0;
            bottom: 0;
            margin: auto;
            transform: translate(-10px, 0) rotate(0);
            opacity: 0;
            //width: 80%;
        }

        &:last-of-type {
            bottom: 0;
            transform: translate(0, -9px) rotate(45deg);
        }
    }
}

.horizontal-nav-menu {
    padding: 0;

    .navbar-nav {
        flex-direction: column;

        @include media-breakpoint-up(md) {
            flex-direction: row;
        }
    }

    .nav-item {
        //border-bottom: 1px solid rgba(getColor("dark-green"), .4);
        display: inline-block;
        margin: 0 1rem;
        
        &:not(:last-child) {
            border-bottom: 1px solid getColor("black");

            @include media-breakpoint-up(md) {
                border: none;
            }
        }


        &.active {
            .nav-link {
                color: getColor("primary");
            }
        }
    }

    .nav-link {
        color: getColor("secondary");
        font-weight: getFontWeight("semi-bold");
        font-size: getFontSize("sm");
        line-height: 1;
        letter-spacing: calcLetterSpacing(75);
        padding: 1.5rem;
        transition: background-color .1s ease-in-out;

        &:hover,
        &:focus {
            background-color: rgba(getColor("white"), .1);
        } 
    }
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 65%;

    @include media-breakpoint-up(md) {
        flex-direction: row;
        width: 85%;
    }
}

.bohochic-navbar-collapse {
    margin: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    z-index: 12;
    background-color: getColor("white");
    padding: 0 0 2rem 0;
    
    @include media-breakpoint-up(md) {
        margin: 0 2rem 0 0;
        position: static;
        padding: 0;
    }

    &.navbar-collapse {
        @include media-breakpoint-up(md) {
            flex: 1 1 0;
            justify-content: flex-end;
        }
    }
    
}