.site-search {
    position: relative;

    .widget_product_search {
        position: absolute;
        top: 200%;
        right: 0;
        width: 350px;
        background-color: getColor("white");
        padding: 1rem;
        z-index: 9;
        opacity: 0;
        visibility: hidden;
        box-shadow: 0 0 16px 0 rgba(0,0,0,.3);
        transition: all .3s ease-in-out;

        &.show {
            top: 100%;
            opacity: 1;
            visibility: visible;
        }
    }

    input[type=search] {
        border: none;
        border: 1px solid getColor("secondary");
        padding: 1rem;
        width: 80%;
        font-size: getFontSize("xs");
    }

    button[type=submit] {
        width: 18%;
        border: none;
        border: 1px solid getColor("secondary");
        background-color: getColor("secondary");
        padding: 1rem .5rem;
        font-size: getFontSize("xs");
        margin: 0 0 0 -2px;
        color: getColor("white");
    }
}