/**
*   Search form styles
*/
.search-form {
    input[type=search] {
        border: none;
        border: 1px solid getColor("secondary");
        padding: 1rem;
        width: 75%;
        font-size: getFontSize("xs");
    }

    button[type=submit] {
        width: 40px;
        border: none;
        border: 1px solid getColor("secondary");
        background-color: getColor("secondary");
        padding: 1rem .5rem;
        font-size: getFontSize("xs");
        margin: 0 0 0 -2px;
        color: getColor("white");
    }
}

.widget_product_search {
    position: absolute;
    top: 200%;
    right: 0;
    left: 0;
    width: 100%;
    background-color: getColor("white");
    padding: 1rem;
    z-index: 12;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,.2);
    transition: all .3s ease-in-out;
    text-align: center;

    &.show {
        top: 115%;
        opacity: 1;
        visibility: visible;
    }

    input[type=search] {
        width: 85%;
    }
}