footer {
    background-color: getColor('tertiary');
    color: getColor('light-grey');
    
    .footer-widgets {
        padding: 5rem 0;
    }
    
    .copyright {
        padding: 1rem 0;
        background-color: getColor('primary');
        color: getColor('tertiary');

        p {
            margin: 0;
        }

        a {
            color: getColor('secondary');
            font-size: getFontSize('def');
        }

        .footer-social-links {
            text-align: right;
            a {
                color: getColor('tertiary');
                padding: 0 .5rem;
                display: inline-block;
                line-height: 1;

                &:hover,
                &:focus {
                    text-decoration: none;
                    color: getColor('secondary');
                }
            }
        }
    }

    p {
        font-size: getFontSize('def');
    }

    .footer-nav {
        .menu {
            list-style: none;

            .menu-item {
                font-size: getFontSize('sm');
                padding: 0 1rem 0 0;

                a {
                    color: getColor('tertiary');
                }
            }
        }
    }
}